/* Global */
:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --dark-green: #2D4A22;
    --red: #e92929;
    --light-bg: #f0f2f5;
    --white: #fff;
    --gray: #969cb3;
    --card-bg: #fff;
    --table-bg: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background-color: var(--light-bg);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}


h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}
/* Links & Buttons */

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: white;
    background: var(--green);

    padding: 0;

    border-radius: .25rem;

    cursor: pointer;
}

button:hover {
    background: var(--light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: .6;
}

.button.cancel:hover {
    opacity: 1;
}



/* Header */

header {
    background: var(--dark-green);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: var(--white);
    font-weight: 100;
}

/* Dark Mode Button */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: left;
    border-radius: 100px;
    position: relative;
    margin-left: 2rem;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--green);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

#darkmode-title {
    color: #fff;
    margin-left: 1rem;
}

.toggle {
    display: flex;
    align-items: center;
}


/* Balance */

#balance {
    margin-top: -6rem;
}

#balance h2 {
    color: var(--white);
    margin-top: 0;
}

/* Cards */

.card {
    background: var(--card-bg);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background: var(--green);
    color: var(--white);
}

/* Table */

#transaction {
    display: block;
    overflow-x: auto;
    width: 100%;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--gray);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 .25rem .25rem 0;
}

table th {
    background: var(--table-bg);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

table tbody tr {
    opacity: 0.7;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
table tbody tr:hover {
    opacity: 1;
}

table td {
    background: var(--table-bg);
    padding: 1rem 2rem;

}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: var(--red);
}

/* Modal */

.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--light-bg);
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;

    position: relative;
    z-index: 1;
}

/* Form */

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

#form form input {
    border: none;
    border-radius: .2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: .8rem; 
}

.input-group small {
    color: var(--gray);
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* Chart */
#chart {
    background-color: var(--table-bg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.chart-container {
    /* position: relative; */
    margin: auto;
    height: 40vh;
    width: 80vw;
    margin-bottom: 6rem;
}

.chart-container h2 {
    margin-bottom: 2rem !important;
}

/* Footer */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/* Responsive */

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .chart-container {
        /* position: relative; */
        margin: auto;
        height: 40vh;
        width: 57rem;
        margin-bottom: 6rem;
    }
}

/* Dark Mode */

.dark-mode {
    --dark-blue: #ffffff;
    --green: #49AA26;
    --light-green: #3dd705;
    --dark-green: #222222;
    --red: #e92929;
    --light-bg: #3B3B3B;
    --white: #ffffff;
    --gray: #ffffff;
    --card-bg: #515151;
    --table-bg: #515151;
}


